---
import Layout from "../layouts/Layout.astro";
import { getCollection } from "astro:content";
import { Image } from "astro:assets";

const books = await getCollection("books");

export const prerender = true;
---

<Layout title="Dev Books, libros para programadores">
  <main class="py-12">
    <h1 class="text-center text-5xl md:text-7xl font-extrabold mb-12">
      📚 Domina el Código
      <span class="text-sky-600 block">Dev-Books</span>
    </h1>

    <section aria-label="Libros recomendados para programadores">
      <div class="px-4 mx-auto max-w-screen-xl">
        <div class="grid gap-8 md:grid-cols-2">
          {
            books.map((book) => {
              const { slug, data } = book;
              const { title, author, img, readtime, description } = data;

              return (
                <article class="flex flex-col md:flex-row items-center md:items-start gap-6">
                  <a href={`/libro/${slug}`} class="block transition-transform duration-300 hover:scale-105">
                    <div class="w-48 h-64 overflow-hidden rounded-lg">
                      <Image
                        src={`/${img}`}
                        alt={title}
                        width={192}
                        height={256}
                        format="webp"
                        class="w-full h-full object-cover"
                        loading="eager"
                      />
                    </div>
                  </a>

                  <div class="flex flex-col justify-center">
                    <h2 transition:name={`title-${slug}`} class="mb-2 text-2xl font-bold leading-tight text-white">
                      {title}
                    </h2>
                    <p class="text-sm text-gray-400 mb-4">Por {author}</p>
                    <p class="mb-4 text-gray-300 max-w-sm">{description}</p>
                    <span class="text-xs text-gray-400">⏳ Lectura en {readtime}</span>
                  </div>
                </article>
              );
            })
          }
        </div>
      </div>
    </section>
  </main>
</Layout>
